Source: pixon
Section: graphics
Priority: optional
Maintainer: Sudip Lahiri <slabg342@gmail.com>
Build-Depends:
 cmake,
 build-essential,
 libvips-dev,
 libopencv-dev,
 debhelper-compat (= 13)
Standards-Version: 4.5.0
Homepage: https://github.com/sudiplahiri3123-alt/pixon

Package: pixon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: High-performance image processing CLI tool
 Pixon is a fast image processing library supporting resize, rotate, crop, blur,
 sharpen, flip, flop, composite, coloradjust, alpha operations, extend, and trim.

